<form action="index.php?view=api/user/create" method="post" enctype="multipart/form-data">
    <label for="login">Identifiant</label>
    <input type="text" id="login" name="login" class="form-control" maxlength="15" onkeypress="return validate(event);" required>
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" maxlength="20" onkeypress="return validate(event);" class="form-control" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control" required>
    <label for="firstname">Prénom</label>
    <input type="text" id="firstname" name="firstname" class="form-control" onkeypress="return validate(event);" required>
    <label for="surname">Nom</label>
    <input type="text" id="surname" name="surname" class="form-control" onkeypress="return validate(event);"required>
    <label for="birthdate">Date de naissance</label>
    <input type="date" id="birthdate" name="birthdate" class="form-control" required>
    <label for="address">Adresse</label>
    <input type="text" id="address" name="address" class="form-control" onkeypress="return validate(event);" required>
    <label for="phonenumber">Numéro de téléphone</label>
    <input type="number" id="phonenumber" name="phonenumber" maxlength="9" class="form-control"  onkeypress="return validate(event);" required>
    <label for="lang">Language</label>
    <select name="lang" id="lang" class="form-control" required>
        <option value="en" selected>English</option>
        <option value="fr">Français</option>
    </select>
    
    <label for="photo">Photo</label>
    <p><input type="file" id="photo" name="photo"></p>
    <input type="submit" class="btn btn-primary" value="Valider">
</form>